body {
    background: #000;
}
#movies img, #movie img {
    width: 100%;
}
@media(min-width: 960px) {
    #movies .col-md-3 {
        margin: 15px 0;
    }
    #movies .col-md-3 .well {
        height: 390px;
        background: #585151;
        border-radius: 4px;
    }
    #movies .col-md-3 img {
        height: 240px;
    }
}

